.DeckCard{
    width: 8%;
    height: 25%;
    border-radius: 20px;
    position: absolute;
    right:calc(2% - 30px);
    bottom:50%;
    transition: transform 0.5s ease-out;
    background-color: #1d1e22;
    box-shadow: 0 4px 7px #20eCFF;
    border: 2px solid #00CCFF;
}
.DeckCard:hover{
    background-color: #2d2e32;
    z-index: 200;
    cursor: pointer;
    }
.Logo{
    background-image: url('./img/logo.png');
    height: 100%;
    width:100%;
    border-radius: 20px;

}
.Atack{
    clip-path: polygon(0% 0%, 9% 0%, 74% 62%, 72% 66%, 86% 53%, 95% 60%, 83% 74%, 100% 90%, 93% 100%, 76% 83%, 65% 96%, 55% 89%, 66% 76%, 0% 11%);
    background-color: #ff6600;
}
.Defense{
    background-color: #7093DB;
}
.Life{
    background-color: #990000;
}
.Value > div{
    margin: 4px;
    text-align: center;
    font-size: 25px;
    color: #fff;
    height: 18%;
    width:24%;
    clip-path: polygon(50% 0, 100% 50%, 50% 100%, 0 50%);
}
.Pictures{
    width: 90%;
    height: 90%;
    position: absolute;
    left: 5%;
    top: 5%;
    z-index: -1;
    border-radius: 20px;
}
@media (max-width: 800px) {
    .DeckCard{
        min-width: 20%;
        min-height: 120px;
        right:calc(-68% - 35px);
        display: none;
    }
}
