.Container{
    padding: 10px;
    width: 350px;
    margin: auto;
    height: 100%;
    position:relative;
}
.Title{
    display: flex;
    width: 200px;
    height: 50%;
    margin: auto;
}
.Programist{
    position:absolute;
    left:40%;
    top:30%;
    font-size: 2em;
    z-index: 2;
    border-top: 3px solid #fff;
    border-left: 3px solid #fff;
    color: #fff;
}
