.TableRow{
    height: 12.5%;
    width: 100%;
    display:flex;
    justify-content: center;
    flex-wrap: wrap;
    margin-top: 1%;
}
.Buffor{
    height: 6%;
}
@media (max-width: 800px) {
    .TableRow{
        margin-top: 2.5%;
    }
}
