.GameDiv{
    width: 94%;
    height:85%;
    position: absolute;
    margin-left: 3%;
}
.DeckCard{
    transition: transform 0.3s ease-out;
    right:0%;
    bottom:0%;
}
.cardOptions0{
    margin: 10px;
    height: 60px;
    width: 60px;
    background: #00CCFF;
    clip-path: circle(50% at 50% 50%);
    top:-6%;
    font-size: 30px;
    margin-left: 30px;
    line-height: 60px;
    transition: all 0.1s ease-out;
    cursor: pointer;

}
.cardOptions1{
    margin: 10px;
    height: 60px;
    width: 60px;
    background: #00CCFF;
    clip-path: circle(50% at 50% 50%);
    top:6%;
    font-size: 25px;
    margin-left: 30px;
    line-height: 60px;
    transition: all 0.1s ease-out;
    cursor: pointer;

}
.cardOptions0:hover, .cardOptions1:hover{
    transform: scale(1.2);
}
@media (max-width: 800px) {
    .cardOptions0, .cardOptions1{
        margin-top: 50px;
    }
}
