.GameDiv{
    width: 94%;
    height:85%;
    position: absolute;
    margin-left: 3%;
}
.DeckCard{
    transition: transform 0.3s ease-out;
    right:0%;
    bottom:0%;
}
.cardOptions0{
    height: 10%;
    width: 10%;
    background: #fff;

    top:-6%;
    left:140px;
}
.cardOptions1{
    height: 10%;
    width: 10%;
    background: #fff;

    top:6%;
    left:140px;
}
